.optionColor label {
  color: white;
}
.optionBox input {
  border-radius: 0.5rem;
  text-align: center;
}

.navbar a {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white;
}
.footer span {
  color: rgb(73, 72, 72);
}
.footer label {
  color: white;
  padding: 20, 0;
}
@media (min-width: 568px) and (max-width: 798px) {
  .navbar .navbar-nav {
    text-align: center;
    padding-top: 3%;
  }
}
@media (min-width: 568px) and (max-width: 798px) {
  .alignImages {
    padding: 5px, 0px;
  }
}
